.details{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    /*margin-top: 10px;*/
}
.details .recentOrders{
    position:relative;
    display: grid;
    min-height: 500px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cardHeader h2{
    font-weight: 600;
    color:blue;
}

.btn{
    position: relative;
    padding: 5px 10px;
    background-color: blue;
    color: white;
    border-radius: 6px;
}

.details table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.details table thead td{
    font-weight: 600;
}

.details .recentOrders table tr{
    color: black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details .recentOrders table tr:last-child{
    border-bottom: none;
}

.details .recentOrders table tbody tr:hover{
    background-color: blue;
    color: white;
}

.details .recentOrders table tr td{
    padding: 10px;
}

.details .recentOrders table tr td:last-child{
    text-align: end;
}

.details .recentOrders table tr td:nth-child(2){
    text-align: end;
}

.details .recentOrders table tr td:nth-child(3){
    text-align: center;
}

.status.delivered{
    padding: 2px 4px;
    background-color: orange;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.pending{
    padding: 2px 4px;
    background-color: red;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.return{
    padding: 2px 4px;
    background-color: blue;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.inprogress{
    padding: 2px 4px;
    background-color: rgb(64, 64, 82);
    color: white;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.recentCutomers{
    position: relative;
    display: grid;
    min-height: 50px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.recentCutomers .imgBx{
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.recentCutomers .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recentCutomers table tr:hover{
    background: blue;
    color: white;
}

.recentCutomers table tr td{
    padding: 12px 10px;
}

.recentCutomers table tr td h4{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2em;
}
.recentCutomers table tr td span{
    font-size: 14px;
    color: rgb(162, 162, 162);
}